html, body {
}

body {
}

.bingo-grid {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: auto 30vw 30vw 30vw;
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
}

@media(min-width: 800px){
    .bingo-grid {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto 200px 200px 200px;
    }
}

.bingo-grid .item {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    display: flex;
}

.bingo-grid .item div[data-is-alive=False] {
    flex: 1 0 auto;
    background: url(/images/bang.png) center center no-repeat;
    background-size: 50% 50%;
}

.bingo-grid h1 {
    grid-column: 1 / 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}