html, body {
}

body {
}

.bingo-grid {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: auto 30vw 30vw 30vw;
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
}

@media(min-width: 800px){
    .bingo-grid {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto 200px 200px 200px;
    }
}

.bingo-grid .item {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    display: flex;
}

.bingo-grid .item [data-is-alive] {
    flex: 1 0 auto;
    display: flex;
}

.bingo-grid .item div[data-is-alive=False] {
    background: #ffffff88 url(/images/bang.png) center center no-repeat;
    background-size: 50% 50%;
}

.history {
    display: flex;
    flex: 1 1 auto;
    align-items: end;
}

.history .status {
    height: 10px;
    flex: 1 1 auto;
}

.history .status[data-status=True] {
    background: linear-gradient(to bottom,#00800000 0%, #008000 50%,#00800000 100%);
}

.history .status[data-status=False] {
    background: linear-gradient(to bottom,#ff000000 0%,#ff0000 50%,#ff000000 100%);
}

.bingo-grid h1 {
    grid-column: 1 / 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}