@model IEnumerable<Victim>

@{
    ViewData["Title"] = "Home Page";
}

<div class="bingo-grid">
    <h1>Black Friday Bingo</h1>
    @foreach (var item in Model)
    {
        <div class="item" style="background-image:url(/images/logo-@(item.Id).png)">
            <div data-is-alive="@(item.IsAlive)"></div>
        </div>
    }
</div>