@model IEnumerable<Victim>

@{
    ViewData["Title"] = "Home Page";
}

<div class="bingo-grid">
    <h1>Black Friday Bingo</h1>
    @foreach (var item in Model)
    {
        <a href="@(item.Url)" target="_blank" rel="noopener" data-id="@(item.Id)" class="item" style="background-image:url(/images/logo-@(item.Id).png)">
            <div data-is-alive="@(item.IsAlive)">
                <div class="history">
                    @foreach (var alive in item.History)
                    {
                        <div class="status" data-status="@alive"></div>
                    }
                </div>
            </div>
        </a>
    }
</div>